/*                  INDEX.HTML                 */
:root{
 --color-principal: #F8C509;
    --color-secundario: #E09A02;
    --font-principal:'Open Sans', sans-serif;
    --alto-cabezal: 15vh;
}
/*
.cabezal
  height: var(--alto-cabezal);
    }
.lema(imagen del gym al principio){
height : calc(100vh-var(--alto...)
*/

html{
    height: 100%;
    position: relative;
    font-family: var(--font-principal);
}
body{
    margin: 0;
    font-family: var(--font-principal) !important;
    /*margin-bottom: 40px; no hace nada */
}
.logoprincipal{
    /* IMAGEN PRINCIPAL DEL INDEX */
    background: url("../img/gymlogoprincipal.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--color-principal);
    width: 100vw; /* toda la pantalla */
    height: 800px;
    text-align: center;
    padding: 50px;
    font-size: 40px;
    text-shadow: black 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid{
    position: relative;
}
.horizontal-gradient {
    background: linear-gradient(to right, #F8C509, black);
}
.botoncprueba{
    width: 120px;
    background-color: var(--color-secundario) !important ;
}
.trescards{
    padding: 5px 10px 30px 10px;
    margin: 5px 10px 30px 10px;
}
.h1index{
    padding: 50px 5px 5px 10px;
    margin: 50px 5px 100px 300px;
}
.linea2 {
    border-left: 2px solid black;
    float: left;
    width: 1px;
    height: 25px;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: rgba(108,109,113,255);
}

.trescards > row > h1 {
    text-align: center; /* este no funciona aun */
}
.containerrrss{
    position: relative;
    padding: 10px 5px 5px 5px;
    margin: 0px 5px 0px 0px;
}
.arribaheader{
    background-color: grey;
}
.arribaheaderletras{
    color: var(--color-principal);
    margin: 0px 0px 0px 100px;

}
header{
    position: relative;
}
.nav-link, .nav-item, .enlacesfooter{
    color: black !important;
    text-shadow: none !important;
}
.boton{
    margin-top: 200px;
}
.boton > h1{
    color: var(--color-principal);
    font-size: 40px;
    text-shadow: black 1px 1px 1px;
    padding: 50px;
}

footer{
    z-index: initial;
    background-color: var(--color-principal);
    color: black;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px; /* si subo el carrusell se mete abajo del footer  */

}
.footercolor{
    background-color: var(--color-principal);
}

.enlacesfooter > ul > li{
    list-style: none;
}

.gmaps{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}


/*                          CLASESDEPRUEBA.HTML                       */
.todotodocdp{
    margin: 30px 0px 0px 200px;
}
.cajatodo{
    background-color: black;
    border: 5px solid #FC9303;
    width: 1000px;
    margin: 10px 10px 0px 10px;
    padding: 0px 20px 20px 20px;
}
.divbonotcdp{
    margin: 10px 0px 10px 400px;
}
.botonform{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    position: relative;
}


/*                                 QUIENESOMOS.HTML                             */
.padreimgquienessomos{
    display: block;
}
.imgprofe {
    border-radius: 50%;
    padding: 0px 0px 0px 10px;
    margin: 50px 0px 20px 300px;
    display: flex;
    text-align: center;
}
.imgprofe2 {
    border-radius: 50%;
    padding: 0px 0px 0px 10px;
    margin: 50px 0px 20px 300px;
    display: flex;
    text-align: center;
}
.container-fluid p, .container-fluid h1 {
    margin: 20px 0px 0px 20px;
    text-align: justify; /* Justificar el texto */
    text-indent: 20px; /* Sangría en la primera línea */
    line-height: 1.5; /* Altura de línea */
}
.wasap{
    height: 200px;
    width: auto;
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    position: fixed;


}


